/* globals.css */
body {
  background-color: #000;
  /* Fondo negro */
  color: #fff;
  /* Texto blanco */
  font-family: 'Inter', sans-serif;
  /* Usar la fuente Inter */
}

.ant-modal-content {
  background-color: rgba(0, 0, 0, 0.8);
}